body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    height: 100vh;
    background-color: whie;
}

.container {
    max-width: 600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.remoreItmeBtn {
    background: red;
    border-radius: 2px;
    border: none;
    color: white;
    width: 100px;
    height: 35px;
    cursor: pointer;
}

#addTaskItem {
    background: rgb(23, 67, 199);
    border-radius: 2px;
    border: none;
    color: white;
    /* width: 120px; */
    height: 35px;
    cursor: pointer;
}

#sortButton {
    background: rgb(23, 67, 199);
    border-radius: 2px;
    border: none;
    color: white;
    /* width: 120px; */
    height: 35px;
    cursor: pointer;
}

.theTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    align-items: center;
    padding-top: 10px;
    align-items: center;
    border: rgb(199, 199, 199) solid 1px;
    border-radius: 2px;
    padding: 5px;
}

.inputTaskDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    /* gap: 4px; */
    padding-bottom: 40px;
}

#taskInput {
    border-radius: 2px;
    border: rgb(199, 199, 199) solid 1px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

#error {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 4px;
    color: red;
}

#taskList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.taskName {
    color: black;
    color: 10px;
}